body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-box{
    text-align: center;
    background-color: rgb(228, 232, 237);
    padding-top:10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1); 
    width: 100%; 
    max-width: 500px;
    margin: 50px auto;
    margin-bottom: 30px;
}
    
h2{
    text-align: center;
}
button {
    text-align: center;
     background: #4caf50;
     color: white;
     padding: 8px; border:
     none; border-radius: 5px;
     width: 75%; cursor: pointer;
     font-size: 16px; 
}
input,select {
     width: 90%;
     padding: 10px;
     margin: 1% 0;
     border: 1px solid #ddd;
     border-radius: 5px;
     box-sizing: border-box;}
    

